<extend name="./Public/View/base.html" />
<block name="styles"></block>
<block name="header">
	<include file="./Public/View/header.html" />
</block>
<block name="main">

	<div class="main layui-clear">
		<div class="wrap">
			<div class="content" style="margin-right:0">
				<div class="fly-tab">
					<span>
						<if condition="($status eq -1)"> 
			          		<a href="__URL__"  class="tab-this" >全部</a>
			          	<else/>
			          		<a href="__URL__"  >全部</a>
			          	</if> 
			          	
			          	<if condition="($status eq 0)"> 
			          		<a href="__URL__?status=0" class="tab-this" >未结帖</a>
			          	<else/>
			          		<a href="__URL__?status=0" >未结帖</a>
			          	</if> 
			          	
			          	<if condition="($status eq 1)"> 
			          		 <a href="__URL__?status=1" class="tab-this" >已采纳</a>
			          	<else/>
			          		 <a href="__URL__?status=1" >已采纳</a>
			          	</if> 
			          	
			          	<if condition="($status eq 2)"> 
			          		<a href="__URL__?status=2" class="tab-this" >精帖</a>
			          	<else/>
			          		<a href="__URL__?status=2" >精帖</a>
			          	</if> 
			          <a href="../user/index.html" >我的帖</a>
			        </span>
					<form action="http://cn.bing.com/search" class="fly-search">
						<i class="iconfont icon-sousuo"></i>
						<input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">
					</form>
					<a href="__URL__/add" class="layui-btn jie-add">发布问题</a>
				</div>

				<ul class="fly-list">
					
					<volist name="question" id="vo">
						<li class="fly-list-li">
							<a href="user/home.html" class="fly-list-avatar">
								<img src="{$vo.user_image}" alt="">
							</a>
							<h2 class="fly-tip">
					            <a href="__URL__/detail?q={$vo.id}">{$vo.question_title}</a>
					             <if condition="($vo.s eq 1)"> 
					             		<span class="fly-tip-stick">已解决</span>
									<elseif condition="$vo.s eq 2"/>
										<span class="fly-tip-stick">已解决</span>
										<span class="fly-tip-jing">精帖</span>
								</if>
	          				</h2>
							<p>
								<span><a href="user/home.html">{$vo.user_name}</a></span>
								<span>{$vo.question_time}</span>
								<span>{$vo.type_name}</span>
								<span class="fly-list-hint"> 
					              <i class="iconfont" title="回答">&#xe60c;</i> {$vo.question_comment}
					              <i class="iconfont" title="人气">&#xe60b;</i> {$vo.question_view}
	           				 </span>
							</p>
						</li>
				</volist>
				</ul>

				<!-- <div class="fly-none">并无相关数据</div> -->

				<div style="text-align: center">
						{$show}
				</div>

			</div>
		</div>
	</div>

</block>
<block name="footer">
	<include file="./Public/View/footer.html" />
</block>
<block name="scripts"></block>